name: Release

on:
  release:
    types:
      - "published"

env:
  DOTNET_NOLOGO: true
  DOTNET_CLI_TELEMETRY_OPTOUT: true

jobs:
  release-macos:
    runs-on: macos-11
    steps:
      - uses: actions/checkout@v2
      - name: Setup dotnet
        uses: actions/setup-dotnet@v1
        with:
          dotnet-version: 6.0.x
      - uses: battila7/get-version-action@v2
        id: get_version
      - name: Restore cache
        uses: actions/cache@v2
        with:
          path: ~/.nuget/packages
          key: ${{ runner.os }}-nuget-6.0.x-osx-x64-${{ hashFiles('**/packages.lock.json') }}
          restore-keys: |
            ${{ runner.os }}-nuget-6.0.x-osx-x64-${{ hashFiles('**/packages.lock.json') }}
            ${{ runner.os }}-nuget-6.0.x-osx-x64-
            ${{ runner.os }}-nuget-6.0.x-
      - name: Restore nuget package
        run: |
          dotnet restore src/Pact.Cli/Pact.Cli.osx-x64.csproj
      - name: Publish
        env:
          VERSION: ${{ steps.get_version.outputs.version-without-v }}
        run: |
          dotnet publish --no-restore -c Release -p:Version="$VERSION" -o publish --sc src/Pact.Cli/Pact.Cli.csproj
      - name: Archive
        working-directory: publish
        env:
          VERSION: ${{ steps.get_version.outputs.version-without-v }}
        run: |
          chmod +x pact
          tar cvzf "../Pact.Cli.$VERSION.osx-x64.tar.gz" $(ls)

  release-linux:
    runs-on: ubuntu-20.04
    strategy:
      fail-fast: true
      matrix:
        os-runtime: [ "linux-x64" ]
    steps:
      - uses: actions/checkout@v2
      - name: Setup dotnet
        uses: actions/setup-dotnet@v1
        with:
          dotnet-version: 6.0.x
      # Get tag (need semver)
      - uses: battila7/get-version-action@v2
        id: get_version
      - name: Setup dotnet
        uses: actions/setup-dotnet@v1
        with:
          dotnet-version: 6.0.x
      - name: Restore cache
        uses: actions/cache@v2
        with:
          path: ~/.nuget/packages
          key: ${{ runner.os }}-nuget-6.0.x-${{ matrix.os-runtime }}-${{ hashFiles('**/packages.lock.json') }}
          restore-keys: |
            ${{ runner.os }}-nuget-6.0.x-${{ matrix.os-runtime }}-${{ hashFiles('**/packages.lock.json') }}
            ${{ runner.os }}-nuget-6.0.x-${{ matrix.os-runtime }}
            ${{ runner.os }}-nuget-6.0.x-
      - name: Restore nuget package
        run: |
          dotnet restore src/Pact.Cli/Pact.Cli.${{ matrix.os-runtime }}.csproj
      - name: Publish
        env:
          RID: ${{ matrix.os-runtime }}
          VERSION: ${{ steps.get_version.outputs.version-without-v }}
        run: |
          dotnet publish --no-restore -c Release -p:Version="$VERSION" -o publish --sc src/Pact.Cli/Pact.Cli.${{ strategy.matrix.os-runtime }}.csproj
      - name: Archive
        working-directory: publish
        env:
          RID: ${{ matrix.os-runtime }}
          VERSION: ${{ steps.get_version.outputs.version-without-v }}
        run: |
          chmod +x pact
          tar cvzf "../Pact.Cli.$VERSION.$RID.tar.gz" $(ls)
